@import
	'partials/colors',
  'partials/mixins',
  'partials/functions',
	'partials/grid',
	'partials/reset';

* {
  box-sizing: border-box;
  &::after,
  &::before {
    content: '';
    clear: both;
    display: block;
    visibility: hidden;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.container-fluid {
  padding: {
    left: 0;
    right: 0;
  }
}

.menu {
  background: dodgerblue;
  button {
    background: colors(color, button);
    color: colors(color, light);

    border: {
      top: {
        color: gold;
        style: solid;
        width: calcRem(1);
      }
      right: none;
      bottom: {
        color: gold;
        style: solid;
        width: calcRem(1);
      }
      left: none;
    }
    display: block;

    margin: {
      bottom: calcRem(20);
    }

    width: 110%;
    height: calcRem(50);
    &.salve {
      background: green;
      border: none;
      margin: {
        bottom: calcRem(64);
      }
    }
  }
}

.rectangle,
.circle {
  border: .1rem solid green;
  position: absolute;
}

.canvas {
  position: relative;
}

.pinned {
  background: {
    image: url('../images/pin.svg');
    repeat: no-repeat;
    size: 100%;
    position: center;
  }
  cursor: pointer;
  position: absolute;

  width: 2rem;
  height: 2rem;
  .comment {
    display: none;
    visibility: hidden;
  }
  &.isActive {
    .comment {
      background: #eaeaea;
      box-shadow: 0 0 .3rem black;

      display: block;
      visibility: visible;
      padding: {
        left: .5rem;
        right: .5rem;
      }

      position: absolute;
      left: 2.5rem;
      top: -3rem;

      width: 20rem;
      height: 5rem;
      overflow: scroll;
    }
  }
}

.zoom {
  &-wrapper {
    height: 980px;
    display: none;

    &.isActive {
      display: block;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.screen {
  border: .01rem solid #ccc;
  max-width: calcRem(1920);
}

.container-canvas {
  display: none;
  &.isActive {
    display: block;
  }
}

#screen {
  cursor: crosshair;
}
