@import
	'partials/colors',
	'partials/mixins',
	'partials/grid',
	'partials/reset';


.container {
	background: colors(color, base);
}

#screen {
	background: green;
}

.col-lg-12 {
	background: #ccc;
}